//JAVASCRIPT FRAMEWORKS
//__Zepto from CDN (drop in replacement for JQuery, more lightweight)
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js")

//JAVASCRIPT CUSTOM
//__Personal JS File for the actual implementation
script(type='text/javascript', src="/js/index.js")
